<div class="form-control">
  <span>
    <input
      type="text"
      class="form-control alert alert-dark"
      placeholder="Seach Hospital by city"
      [(ngModel)]="city"
    />
  </span>

  <button type="button" class="btn btn-success" (click)="getHospitals()">
    Search
  </button>
</div>
<br />
<br />
<table class="table container">
  <thead class="bg-warning">
    <tr>
      <th scope="col">Hospital</th>
      <th scope="col">Address</th>
      <th scope="col">city</th>
      <th scope="col">Contact</th>
      <th scope="col">Details</th>
      <th scope="col">Book a Bed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of hospitalData" class="bg-dark text-light">
      <td>{{ row.hospitalName }}</td>
      <td>{{ row.address }}</td>
      <td>{{ row.city }}</td>
      <td>{{ row.contact }}</td>
      <td>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="getHospitalDetails(row)"
        >
          Details
        </button>
      </td>

      <td>
        <button type="button" class="btn btn-primary" (click)="getBed()">
          Book a Bed
        </button>
      </td>
    </tr>
  </tbody>
</table>
