<div class="container">
  <form [formGroup]="formValue">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Enter Full Name"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email Id</label>
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter Email Id"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">User Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="User Name"
        formControlName="userName"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Mobile</label>
      <input
        type="moblie"
        class="form-control"
        placeholder="Mobile"
        formControlName="mobile"
      />
    </div>
    <button type="button" class="btn btn-primary" (click)="postUserDetails()">
      Submit
    </button>
    <!-- <button type="button" class="btn btn-primary" (click)="updateUser()">
      Update
    </button> -->
  </form>
</div>
<br />

<!-- <div class="form-control mt-4">
  <table class="table container">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Profile</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.mobile }}</td>
        <td>
          <button
            type="button"
            class="btn btn-success"
            (click)="getUserById(user.id)"
          >
            Profile
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            (click)="editUser(user)"
          >
            Update
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteUser(user)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
